@keyframes swaping1 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(100px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes swaping2 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}